<h3>Log Issues Here</h3>
<div class="form-style-5">
    <label>Issue:
            <select formControlName="issue">
            <option *ngFor="let issue of issues" [value]="issue">
                {{issue | titlecase}}
            </option>
            </select>
        </label>
    <textarea type="text" [formControl]="suggestion"></textarea>
    <form [formGroup]="userForm">
        <p>
            <input type="radio" value="public" formControlName="preference"> Public
            <input type="radio" value="private" formControlName="preference"> Private
        </p>
       <div><input type="file" formControlName="image" (onchange)="onFileChange($event, 'image')"/></div> 
    </form>
    <br>
    <button class="btn btn-primary">submit</button>
</div>